@model LabaManageSys.WebUI.ViewModels.Task.ListViewModel
@using LabaManageSys.WebUI.HtmlHelpers
@{
    ViewBag.Title = "Список заданий";
}

<br />
<div class="panel panel-primary">
    <div class="panel-heading">
     <h3> Список заданий </h3>
    </div>
    <div class="btn-group pull-right">
        @Html.ActionLink("Добавить задание", "Create", "TaskManage", new { area = "" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Загрузить задания", "Index", "TaskLoad", new { area = "" }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Скачать задания", "DownloadFile", "TaskLoad", new { area = "" }, new { @class = "btn btn-primary" })
    </div>
    <div class="panel-body">
        <div>
            Автор:
            @Html.DropDownListFor(_ => _.Filter.Author, new SelectList(Model.Lists.Authors.ToList(), "all"), "all", new { @class = "dropdown" })
             Тема:
            @Html.DropDownListFor(_ => _.Filter.Topic, new SelectList(Model.Lists.Topics.ToList(), "all"), "all", new { @class = "dropdown" })
             Уровень сложности:
            @Html.DropDownListFor(_ => _.Filter.Level, new SelectList(Model.Lists.Levels.ToList(), "all"), "all", new { @class = "dropdown" })
        </div>
        <div id="TasksList" 
             data-request-tasks-url="@Url.Action("GetTasksDataJson")?" 
             data-request-comments-url="@Url.Action("GetTaskComentsJson")?taskId="
             data-request-taskdelete-url="@Url.Action("Delete", "TaskManage")?TaskId="
             data-request-taskedit-url="@Url.Action("Edit", "TaskManage")?TaskId="
             data-request-commentdelete-url="@Url.Action("DeleteComment","TaskManage")"
             data-request-commentsave-url="@Url.Action("SaveComment","TaskManage")">
            @foreach (var p in @Model.Tasks)
            {
                @Html.Partial("TaskSummary", p);
            }
        </div>
    </div>
        <div id="ButtonsGroup" class="btn-group pull-right">
            @Html.PageLinks(Model.PagingInfo, _ => Url.Action("List", new { page = _, filter = Model.Filter }))
        </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/taskrating")
}




